
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,100&display=swap');


body{
    font-family:  'Poppins', sans-serif;
    
}
.grape-bg{
    background-color: #FEEAE9;
}
.grape-cat-img{
    width: 100px;
}
.btn-grape{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 6px;
    color:white;

}