@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;500;700&display=swap');

body{
    font-family: 'Martel', serif;
    
}
.grape-bg{
    background-color: #FEEAE9;
}
.grape-cat-img{
    width: 100px;
}