
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,100&display=swap');


body{
    font-family:  'Poppins', sans-serif;
    
}
.grape-bg{
    background-color: #FEEAE9;
}
.grape-cat-img{
    width: 100px;
}